{% include 'recipes/partials/head.html' %}

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}

    <main class="content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://corhexa.com/png/1280x720/4a9c5d" alt="">
                    <h1>oi</h1>
                </div>
            </div>
        </div>
    </main>

</body>

</html>